<div class="settings-container">
    <nav class="settings-menu">
        <button class="back-btn" (click)="goBack()">{{'BUTTON_BACK' | translate}}</button>
        <button [class.active]="selectedSection === 'edit'" [class.edit]="selectedSection === 'edit'"
            (click)="selectSection('edit')">
            {{'BUTTON_EDIT_PROFILE' | translate}}
        </button>
        <button [class.active]="selectedSection === 'delete'" [class.delete]="selectedSection === 'delete'"
            (click)="selectSection('delete')">
            {{'BUTTON_DELETE_ACCOUNT' | translate}}
        </button>
    </nav>

    <div class="settings-content">
        @if(selectedSection === 'edit') {
        <div class="form-content">

            <form [formGroup]="settingsForm" (ngSubmit)="submitSettings()">
                <div class="form-group">
                    <label>{{'FIRST_NAME' | translate}}</label>
                    <input type="text" formControlName="firstName" />
                </div>

                <div class="form-group">
                    <label>{{'LAST_NAME' | translate}}</label>
                    <input type="text" formControlName="lastName" />
                </div>

                <div class="form-group">
                    <label>{{'COUNTRY' | translate}}</label>
                    <input type="text" formControlName="country" />
                </div>

                <div class="form-group">
                    <label>{{'CITY' | translate}}</label>
                    <input type="text" formControlName="city" />
                </div>

                <div class="form-group">
                    <label>{{'EMAIL' | translate}}</label>
                    <input type="email" formControlName="email" />
                    @if(settingsForm.get('email')?.value && settingsForm.get('email')?.invalid) {
                    <small class="error">{{'ERROR_VALID_EMAIL' | translate}}</small>
                    }
                </div>

                <div class="form-group password-group">
                    <label>{{'PASSWORD' | translate}}</label>
                    <div class="password-wrapper">
                        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="showPassword = !showPassword"></i>
                    </div>
                    @if(settingsForm.get('password')?.value && settingsForm.get('password')?.invalid) {
                    <small class="error">
                        {{'ERROR_PASSWORD_LENGTH' | translate}}
                    </small>
                    }
                </div>

                <div class="form-group password-group">
                    <label>{{'REPEAT_PASSWORD' | translate}}</label>
                    <div class="password-wrapper">
                        <input [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" />
                        <i class="bi" [ngClass]="showRepeatPassword ? 'bi-eye-slash' : 'bi-eye'"
                            (click)="showRepeatPassword = !showRepeatPassword"></i>
                    </div>
                    @if(settingsForm.hasError('passwordsMismatch') && settingsForm.get('repeatPassword')?.touched) {
                    <small class="error">{{'ERROR_NOT_MATCH' | translate}}</small>
                    }
                </div>

                <button type="submit" [disabled]="settingsForm.invalid">{{'BUTTON_SAVE' | translate}}</button>
            </form>
        </div>
        }

        @if(selectedSection === 'delete') {
        <app-delete-account></app-delete-account>
        }
    </div>
</div>

<app-modal 
    [show]="showModal" 
    [showCancel]="false" 
    [type]="modalType" 
    [message]="modalMessage | translate" 
    (closed)="closeModal()">
</app-modal>