<div class="form-content">
    <h2 class="form-title">{{'RESET_PASSWORD' | translate}}</h2>

    <form [formGroup]="resetForm" (ngSubmit)="submit()">
        <div class="form-group password-group">
            <label>{{'NEW_PASSWORD' | translate}}</label>
            <div class="password-wrapper">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="showPassword = !showPassword"></i>
            </div>
            @if (resetForm.get('password')?.touched && resetForm.get('password')?.invalid) {
            <small class="error">{{'ERROR_PASSWORD_LENGTH' | translate}}</small>
            }
        </div>

        <div class="form-group password-group">
            <label>{{'REPEAT_PASSWORD' | translate}}</label>
            <div class="password-wrapper">
                <input [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" />
                <i class="bi" [ngClass]="showRepeatPassword ? 'bi-eye-slash' : 'bi-eye'"
                    (click)="showRepeatPassword = !showRepeatPassword"></i>
            </div>
            @if (resetForm.hasError('passwordsMismatch') && resetForm.get('repeatPassword')?.touched) {
            <small class="error">{{'ERROR_NOT_MATCH' | translate}}</small>
            }
        </div>

        <button type="submit" [disabled]="resetForm.invalid">{{'RESET_PASSWORD' | translate}}</button>
    </form>
</div>

<app-modal 
    [show]="showModal" 
    [showCancel]="false" 
    [type]="modalType" 
    [message]="modalMessage | translate" 
    (closed)="closeModal()">
</app-modal>