@if (showSections && !isLoading) {
<div class="selection-wrapper">
    <div class="selection-container">
        <button type="button" class="select-all-btn" [class.select-mode]="!isAllSelected"
            [class.unselect-mode]="isAllSelected" (click)="toggleAll()">
            {{ (isAllSelected ? 'BUTTON_UNSELECT' : 'BUTTON_SELECT_ALL') | translate}}
        </button>

        <form>
            <div class="selection-list-container">
                @for (section of sections; track section.id) {
                <div class="selection-card" (click)="toggleSelection(section.id)">
                    <label>
                        <input type="checkbox" [checked]="selectedSections.includes(section.id)"
                            (click)="$event.stopPropagation()" />
                        {{ section.displayName ?? section.name }}
                    </label>
                </div>
                }
            </div>
        </form>

        <button type="button" class="save-btn" (click)="saveSelection()" [disabled]="selectedSections.length === 0">
            {{'BUTTON_SAVE' | translate}}
        </button>
    </div>
</div>
}

<app-modal 
    [show]="showModal" 
    [type]="modalType" 
    [message]="modalMessage | translate" 
    [showCancel]="false"
    [autoClose]="true" 
    (closed)="closeModal($event)">
</app-modal>