<div class="sections-container">

  <div class="top-bar">
    <button type="button" class="back-btn" (click)="goBack()">{{'BUTTON_BACK' | translate}}</button>

    <div class="search-container">
      <input type="text" placeholder="{{'SEARCH_NEWS' | translate}}" [(ngModel)]="searchTerm" />
    </div>

    <div class="language-selector">
      <select [value]="currentLang" (change)="onLanguageChange($event)">
        <option value="DEFAULT">------</option>
        <option value="EN">English</option>
        <option value="BG">Български</option>
        <option value="DE">Deutsch</option>
        <option value="FR">Français</option>
      </select>
    </div>
  </div>

  <div class="sections-list" cdkDropList (cdkDropListDropped)="dropSection($event)">
    @if (!isLoading && (!sectionsWithNews || sectionsWithNews.length === 0)) {
    <div class="no-news-message">
      <p>За избраните секции и източници в момента няма новини за показване.</p>
    </div>
    }

    @for (section of sectionsWithNews; track section.sectionId) {
    <div class="section-bubble" cdkDrag>
      <h2>
        <span class="drag-handle" cdkDragHandle>
          ☰
          <span class="tooltip-text">{{'REORDER_SECTIONS' | translate}}</span>
        </span>
        {{ namesUtilsService.formatSectionName(section.sectionName) }}
      </h2>

      <div class="source-container">
        @for (source of section.groupedNews; track source.key) {
        <div class="source-bubble" [class.selected]="source.isOpen" (click)="toggleSource(section.sectionId, source)">
          <span class="domain">{{ namesUtilsService.getDomain(source.key) }}</span>
          <span class="count-news">{{ getFilteredItems(source).count }}</span>
        </div>

        @if (source.isOpen) {
        <ul class="dropdown-news" (click)="$event.stopPropagation()">
          <li class="section-divider">{{'UNREADED' | translate}}</li>

          @if (getFilteredItems(source).unread.length > 0) {
          @for (item of getFilteredItems(source).unread; track item.id) {
          <li class="news-item unread" (click)="toggleNewsItem(source, item)">
            <div class="news-header">
              <span class="news-title">
                {{ getTitle(item) }}
                <span class="unread-dot"></span>
              </span>
              <span class="news-date">{{ item.publishedAt | date: 'short' }}</span>
            </div>
            @if (source.openItemId === item.id) {
            <p class="news-content">{{ getSummary(item) }}</p>
            <a [href]="item.link" target="_blank" (click)="onArticleLinkClick($event, item)">{{'FULL_ARTICLE' |
              translate}}</a>
            }
          </li>
          }
          } @else {
          <li class="news-item empty">{{'NO_NEWS' | translate}}</li>
          }

          <li class="divider"></li>

          <li class="section-divider">{{'READED' | translate}}</li>
          @if (getFilteredItems(source).read.length > 0) {
          @for (item of getFilteredItems(source).read; track item.id) {
          <li class="news-item read" (click)="toggleNewsItem(source, item)">
            <div class="news-header">
              <span class="news-title">{{ getTitle(item) }}</span>
              <span class="news-date">{{ item.publishedAt | date: 'short' }}</span>
            </div>
            @if (source.openItemId === item.id) {
            <p class="news-content">{{ getSummary(item) }}</p>
            <a [href]="item.link" target="_blank" (click)="onArticleLinkClick($event, item)">{{'FULL_ARTICLE' |
              translate}}</a>
            }
          </li>
          }
          } @else {
          <li class="news-item empty">{{'READED_TEXT' | translate}}</li>
          }
        </ul>
        }
        }
      </div>
    </div>
    }
  </div>
</div>