<div class="form-content">
  <h2 class="form-title">{{ 'BUTTON_FORGOT_PASSWORD' | translate}}</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>{{ 'EMAIL' | translate}}</label>
      <input type="email" formControlName="email" />
      @if (forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid) {
      @if (forgotPasswordForm.get('email')?.hasError('required')){
      <small class="error">{{'ERROR_EMAIL_REQUIRED' | translate}}</small>
      }
      @if (forgotPasswordForm.get('email')?.hasError('email')) {
      <small class="error">{{'ERROR_VALID_EMAIL' | translate}}</small>
      }
      }
    </div>

    @if (errorMessage) {
    <div class="error-message error">
      {{ errorMessage | translate }}
    </div>
    }

    <button type="submit" [disabled]="loading">
      {{ 'BUTTON_RESET_EMAIL' | translate}}
    </button>
  </form>

  <button type="button" class="back-btn" (click)="goBack()">{{'BUTTON_BACK' | translate}}</button>
</div>

<app-modal 
  [show]="showModal" 
  [showCancel]="false" 
  [type]="modalType" 
  [message]="modalMessage | translate"
  (closed)="closeModal()">
</app-modal>