<div class="form-content">
  <h2 class="form-title">{{'BUTTON_SIGNUP' | translate}}</h2>

  <form [formGroup]="signupForm" (ngSubmit)="submitSignup()">

    <div class="form-group">
      <label>{{'EMAIL' | translate}}
        <span class="required">(Required)</span>
      </label>
      <input type="email" formControlName="email" />
      @if (emailErrors) {
      <small class="error">{{ emailErrors | translate}}</small>
      }
    </div>

    <div class="form-group password-group">
      <label>{{'PASSWORD' | translate}}
        <span class="required">(Required)</span>
      </label>
      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="showPassword = !showPassword">
        </i>
      </div>
      @if (signupForm.get('password')?.touched && signupForm.get('password')?.invalid) {
      <small class="error">{{'ERROR_PASSWORD_LENGTH' | translate}}</small>
      }
    </div>

    <div class="form-group password-group">
      <label>{{'REPEAT_PASSWORD' | translate}}
        <span class="required">(Required)</span>
      </label>
      <div class="password-wrapper">
        <input [type]="showRepeatPassword ? 'text' : 'password'" formControlName="repeatPassword" />
        <i class="bi" [ngClass]="showRepeatPassword ? 'bi-eye-slash' : 'bi-eye'"
          (click)="showRepeatPassword = !showRepeatPassword">
        </i>
      </div>

      @if (signupForm.hasError('passwordsMismatch') && signupForm.get('repeatPassword')?.touched) {
      <small class="error">{{'ERROR_NOT_MATCH' | translate}}</small>
      }
    </div>

    @if (errorMessage) {
    <div class="error-message error">
      {{ errorMessage | translate}}
    </div>
    }

    <div class="form-group">
      <label>{{'FIRST_NAME' | translate}}</label>
      <input type="text" formControlName="firstName" />
    </div>

    <div class="form-group">
      <label>{{'LAST_NAME' | translate}}</label>
      <input type="text" formControlName="lastName" />
    </div>

    <app-location-selector [formGroup]="signupForm"></app-location-selector>

    <button type="submit" [disabled]="loading" class="submit-btn">
      {{'BUTTON_SIGNUP' | translate}}
    </button>
  </form>

  <button type="button" class="close-btn" (click)="closeSignup()">{{'BUTTON_LOGOUT' | translate}}</button>
</div>

<app-modal [show]="showSignupSuccessModal" type="success"
  [message]="('MODAL_WELCOME' | translate) + signupForm.get('firstName')?.value + ('MODAL_WELCOME_MESSAGE' | translate)"
  [showCancel]="false" [autoClose]="false" (closed)="goToSections()">
</app-modal>