.home-component {
    text-align: center;
    padding: 1rem 1.5rem;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 0.5rem;
    }
}